@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  background-color: #e5e6e7;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

button{
  height: 40px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  border:none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  outline:none;
  user-select: none;
}

button:hover{
  background-color: white;
  color: black;
}

.header{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}


.textarea{
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-header{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.projects-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-info-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* queries */

@media only screen and (max-width:600px){
  body{
    font-size: 1rem;
  }
  .contact-info{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content:space-evenly;
    
  }
}